.newnav ul li{

    display: flex;
    display: inline-block;
   list-style-type: none;
   text-decoration: none;
    
   justify-content: center;
   }
   .newnav ul li a{
    text-decoration: none;
   }

   .dropdown-item1{
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top:10px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    color: black;
   }
   .dropdown-item1:hover{
    border: solid black 1px;
    background-color: rgb(212, 209, 209);
    border-radius: 2px;
    color: black;
   }
   #par h1:hover{
    color: rgb(19, 0, 0);
    font-size: 100px;
   }
   #par{
    
    
    
        background-image: linear-gradient(90deg, #ff7e5f, #feb47b, #86a8e7, #9b59b6, #f5af19);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      
      
      
      
      
   
